@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:#f6f6f6 ;
  overflow: hidden; /* Evitar desplazamiento en el cuerpo */
  height: 100%; /* Asegurar que el cuerpo ocupe toda la pantalla */
}

/* Estilos específicos para OficiosLayout */
.oficios-layout {
  height: 100vh;
}

.oficios-layout main {
  overflow: auto; /* Permitir desplazamiento solo en el contenido principal */
}
